.testimonials-section {
  margin-top: 150px;
  padding: 0 40px;
  text-align: start;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.testimonials-section h4 {
  font-size: 20px;
  color: green;
  margin-bottom: 10px;
}

.testimonials-section h3 {
  font-size: 28px;
  color: black;
  margin-bottom: 40px;
}

.testimonials-section h3 span {
  color: green;
}

.testimonials {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.testimonials > div {
  flex: 1;
  min-width: 280px;
  background: #f9f9f9;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.testimonials .para {
  color: #FFA500;
  font-size: 20px;
  margin-bottom: 10px;
}

.testimonials p {
  font-size: 14px;
  color: #333;
  margin-bottom: 15px;
}

.testimonials img {
   object-fit: cover;
   
}
@media (max-width: 768px) {
  .testimonials {
    flex-direction: column;
    align-items: center;
  }

  .testimonials > div {
    width: 100%;
    max-width: 500px;
  }

  .testimonials-section h3 {
    font-size: 24px;
  }

  .testimonials-section h4 {
    font-size: 18px;
  }

  .testimonials .para {
    font-size: 18px;
  }

  .testimonials p {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .testimonials-section {
    padding:15px ;
    margin-top: 150px;
  }

  .testimonials > div {
    padding: 10px;
  }

  .testimonials-section h3 {
    font-size: 20px;
  }

  .testimonials-section h4 {
    font-size: 16px;
  }

  .testimonials{
    width:100px;
  }
  .testimonials .para {
    font-size: 16px;
  }

  .testimonials p {
    font-size: 12px;
  }

  .testimonials img {
    margin-top: 10px;
  }
}
